on:
  push:
    branches: main
    paths:
      - installer.sh
      - installer.ps1
      - .github/workflows/cd.installer.yml

jobs:
  qa:
    uses: ./.github/workflows/ci.installer.yml

  put:
    permissions:
      deployments: write
    needs: qa
    runs-on: ubuntu-latest
    steps:
      - name: Create Deployment
        uses: bobheadxi/deployments@v1
        id: deployment
        with:
          step: start
          env: installer

      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - run:
          aws s3 cp
            ./installer.sh
            s3://www.pkgx.sh/installer.sh
            --metadata-directive REPLACE
            --cache-control no-cache,must-revalidate
      - run:
          aws s3 cp
            ./installer.ps1
            s3://www.pkgx.sh/installer.ps1
            --metadata-directive REPLACE
            --cache-control no-cache,must-revalidate

      - run:
          aws cloudfront create-invalidation
            --distribution-id ${{ secrets.AWS_CF_DISTRIBUTION_ID }}
            --paths / /installer.sh /installer.ps1

      - name: Seal Deployment
        uses: bobheadxi/deployments@v1
        if: always()
        with:
          env: installer
          step: finish
          status: ${{ job.status }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
