on:
  workflow_call:
  pull_request:
    paths:
      - action.ts
      - action.yml
      - package.json

concurrency:
  group: ${{ github.ref || 'ci' }}/action.ts
  cancel-in-progress: true

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./scripts/dist.sh
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  std:
    needs: dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - uses: ./
      - run: tea --version

  plus-pkgs:
    needs: dist
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - [self-hosted, macOS, ARM64]  # we need to be sure the action
          - [self-hosted, linux, ARM64]  # works in arm64 environments
        prefix:
          - null
          - /opt
        container:
          - null
        include:
        - os: ubuntu-latest
          container: debian:buster-slim
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - uses: ./
        with:
          TEA_DIR: ${{ matrix.prefix }}
          +: node@18

      - run: test -f '${{ matrix.prefix }}/tea.xyz/v*/bin/tea'
      - run: tea --version
      - run: node --eval 'console.log(1)'

  multiple-apply-is-ok:
    runs-on: ubuntu-latest
    needs: dist
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - uses: ./
      - run: tea --version
      - uses: ./
      - run: tea --version
