on:
  push:
    branches:
      - main
    paths:
      - action.js
  workflow_call:
  pull_request:
    paths:
      - action.js
      - action.yml
      - package.json
      - installer.sh
      - .github/workflows/ci.action.yml

concurrency:
  group: ${{ github.ref || 'ci' }}/action.ts
  cancel-in-progress: true

jobs:
  std:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npm i
      - uses: ./
        with:
          version: null
      - run: pkgx --version

  plus-pkgs:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        prefix:
          - null
          - /tmp/pkgx
        include:
        - os: ubuntu-latest
          container: debian:buster-slim
        - os: windows-latest
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm i

      - uses: ./
        with:
          PKGX_DIR: ${{ matrix.prefix }}
          +: node@18 curl.se
        if: ${{ runner.os != 'Windows' }}

      - uses: ./
        with:
          PKGX_DIR: ${{ matrix.prefix }}
          +: cmake.org^3 curl.se
        if: ${{ runner.os == 'Windows' }}

      - run: test -f '${{ matrix.prefix }}/curl.se/v*/bin/curl'
        if: ${{ matrix.prefix }}

      - run: pkgx --version
      - run: if [[ "$(node --version)" != v18.* ]]; then exit 1; fi
        if: ${{ runner.os != 'Windows' }}
      - run: curl --version

  multiple-apply-is-ok:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npm i
      - uses: ./
      - run: pkgx --version
      - uses: ./
      - run: pkgx --version

  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npm i
      - uses: ./
      - run: npm run dist
      - run: rm /usr/local/bin/pkgx
      - run: '! pkgx --version'
      - run: git clean -xfd
      - uses: ./
      - run: pkgx --version
      - uses: actions/upload-artifact@v6
        with:
          path: |
            ./action.js
            ./action.yml
          name: action

  linuxen:
    needs: dist
    continue-on-error: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          - debian:buster-slim
          - debian:bullseye-slim
          - debian:bookworm-slim
          - archlinux:latest
          - ubuntu:focal
          - ubuntu:jammy
          - ubuntu:noble
          - fedora:latest
    container: ${{ matrix.container }}
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: action
      - uses: ./
      - run: pkgx node -e 'console.log(1)'
