on:
  pull_request:
    paths:
      - action.yml
      - install.sh
      - .github/workflows/ci.yml
      - action.js
  workflow_call:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  TEA_SECRET: ${{ secrets.TEA_SECRET }}
  VERBOSE: 1

jobs:
  direct:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: .github/mk-pantry-accessible.sh ${{ secrets.TEMP_JACOBS_GITHUB_PAT }}
      - run: ./install.sh --env --dump
        env:
          YES: 1
      - run: sudo ln -s ~/.tea/tea.xyz/v'*'/bin/tea /usr/local/bin/tea
      - run: tea --env --dump
      - run: tea test
      - run: which tea
      - run: find "$(tea --silent --prefix)"/tea.xyz
      - run: test -L "$(tea --silent --prefix)"/tea.xyz/v0.?
      - run: test -L "$(tea --silent --prefix)"/tea.xyz/v0

  gha:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        prefix:
          - ~
          - /opt
        container:
          - ~
          - ghcr.io/teaxyz/infuser:latest
        exclude:
          - os: macos-latest
            container: ghcr.io/teaxyz/infuser:latest
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v3

      - name: HACKS
        run: |
          apt install --yes git
          mkdir .git
        if: ${{ matrix.container == 'ghcr.io/teaxyz/infuser:latest' }}
      - name: HACKS
        run: echo 'TARGET=test' >> $GITHUB_ENV
        if: ${{ matrix.container != 'ghcr.io/teaxyz/infuser:latest' }}
        # ^^ node 16 not rebuilt for older glibc yet so can't run test target
      - name: HACKS
        run: .github/mk-pantry-accessible.sh ${{ secrets.TEMP_JACOBS_GITHUB_PAT }}

      # install.sh cannot find our cURL if the prefix is not set to where it exists
      #TODO though, we *could* install it ourselves first
      - run: echo 'CURL=/opt/curl.se/v*/bin/curl' >> $GITHUB_ENV
        if: ${{ matrix.container == 'ghcr.io/teaxyz/infuser:latest' && matrix.prefix != '/opt' }}

      - run: sudo chown -R $(whoami):staff /opt
        if: ${{ matrix.os == 'macos-latest' && matrix.prefix == '/opt' }}

      - uses: ./
        id: tea
        with:
          prefix: ${{ matrix.prefix }}
          target: ${{ env.TARGET }}

      - run: test -n "$VERSION"
      - run: test -n "${{ steps.tea.outputs.version }}"
      - run: test v$VERSION = v${{ steps.tea.outputs.version }}
      - run: tea --env --dump
      - run: which tea

  emptier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: which git
      - run: rm -rf .git README.md /usr/local/bin
      - uses: ./

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ludeeus/action-shellcheck@1.1.0
        with:
          severity: warning
