on:
  pull_request:
    paths:
      - action.yml
      - install.sh
      - .github/workflows/ci.yml
  workflow_call:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  TEA_SECRET: ${{ secrets.TEA_SECRET }}
  VERBOSE: 1

jobs:
  direct:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: .github/mk-pantry-accessible.sh ${{ secrets.TEMP_JACOBS_GITHUB_PAT }}
      - run: ./install.sh --env --dump
        env:
          YES: 1
      - run: sudo ln -s ~/.tea/tea.xyz/v'*'/bin/tea /usr/local/bin/tea
      - run: tea --env --dump
      - run: tea test
      - run: which tea

  gha:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        prefix:
          - ~
          - /opt
        container:
          - ~
          - ghcr.io/teaxyz/infuser:main
        exclude:
          - os: macos-latest
            container: ghcr.io/teaxyz/infuser:main
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v3

      - name: HACKS
        run: |
          apt install --yes curl git
          mkdir .git
        if: ${{ matrix.container == 'ghcr.io/teaxyz/infuser:main' }}
      - name: HACKS
        run: .github/mk-pantry-accessible.sh ${{ secrets.TEMP_JACOBS_GITHUB_PAT }}

      - run: sudo chown -R $(whoami):staff /opt
        if: ${{ matrix.os == 'macos-latest' && matrix.prefix == '/opt' }}

      - uses: ./
        id: tea
        with:
          prefix: ${{ matrix.prefix }}
          # node 16 not rebuilt for older glibc yet
          target: ${{ matrix.container && "test" || null }}

      - run: test -n "$VERSION"
      - run: test -n "${{ steps.tea.outputs.version }}"
      - run: test v$VERSION = v${{ steps.tea.outputs.version }}
      - run: tea --env --dump
      - run: which tea

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ludeeus/action-shellcheck@1.1.0
        with:
          severity: warning
