on:
  pull_request:
    paths:
      - action.yml
      - install.sh
      - .github/workflows/ci.yml
      - action.js
  workflow_call:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  transitory:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        VERBOSE:
        - 1
        - ~
    steps:
      - uses: actions/checkout@v3
      - run: echo foo > foo
      - run: ./install.sh cat ./foo
        env:
          VERBOSE: ${{ matrix.VERBOSE }}
          YES: 1
  direct:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        VERBOSE:
        - 1
        - ~
    steps:
      - uses: actions/checkout@v3
      - run: ./install.sh
        env:
          VERBOSE: ${{ matrix.VERBOSE }}
          YES: 1
      - run: tea --env --dump
      - run: tea test
      - run: which tea
      - run: find "$(tea --silent --prefix)"/tea.xyz
      - run: find /opt/tea.xyz -name v0.? -o -name v0.?? -mindepth 1 -maxdepth 1 -print0 | xargs -0 test -L
      - run: test -L "$(tea --silent --prefix)"/tea.xyz/v0

  gha:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        prefix:
          - ~
          - /opt
        container:
          - ~
        include:
        - os: ubuntu-latest
          container: debian:buster-slim
          srcroot: .
        - os: ubuntu-latest
          container: debian:buster-slim
          srcroot: ~
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v3

      # required for somethings
      - run: |
          apt-get update
          apt-get --yes install libc-dev libstdc++-8-dev libgcc-8-dev
        if: ${{ matrix.container != '' }}

      - uses: ./
        id: tea
        with:
          prefix: ${{ matrix.prefix }}
          target: test
          srcroot: ${{ matrix.srcroot || github.workspace }}

      - run: test -n "$VERSION"
      - run: test -n "${{ steps.tea.outputs.version }}"
      - run: test v$VERSION = v${{ steps.tea.outputs.version }}
      - run: tea --env --dump
      - run: which tea

  multiple-apply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
      - run: tea --version
      - uses: ./
      - run: tea --version

  # tests that we don’t require a “srcroot”
  emptier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo rm -rf .git README.md
      - uses: ./

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ludeeus/action-shellcheck@1.1.0
        with:
          severity: warning

  check-external-gum:
    runs-on: ubuntu-latest
    steps:
      - uses: Homebrew/actions/setup-homebrew@master
      - run: brew install gum
      - uses: actions/checkout@v3
      - uses: ./

  root:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo su -c './install.sh'
