on:
  pull_request:
    paths:
      - action.yml
      - install.sh
      - .github/workflows/ci.yml
  workflow_call:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  TEA_SECRET: ${{ secrets.TEA_SECRET }}
  VERBOSE: 1

jobs:
  direct:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: .github/mk-pantry-accessible.sh ${{ secrets.TEMP_JACOBS_GITHUB_PAT }}
      - run: ./install.sh --env --dump
        env:
          YES: 1
      - run: sudo ln -s ~/.tea/tea.xyz/v'*'/bin/tea /usr/local/bin/tea
      - run: tea --env --dump
      - run: tea test
      - run: which tea

  gha:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        prefix:
          - ~
          - /opt
    env:
      PREFIX: ${{ matrix.prefix }}
    steps:
      - uses: actions/checkout@v3
      - run: .github/mk-pantry-accessible.sh ${{ secrets.TEMP_JACOBS_GITHUB_PAT }}

      - run: echo "PREFIX=$HOME/opt" >> $GITHUB_ENV
        if: matrix.prefix == null

      - run: chown -R $(whoami):staff /opt
        if: runner.os == "macos-latest"

      - uses: ./
        id: tea
        with:
          prefix: ${{ env.PREFIX }}
          target: test
      - run: test -n "$VERSION"
      - run: test -n "${{ steps.tea.outputs.version }}"
      - run: test v$VERSION == v${{ steps.tea.outputs.version }}
      - run: tea --env --dump
      - run: which tea
